.DashboardItem {
  height: 200px;
  width: 200px;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1.0;
  margin: 20px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  border-width: 1px;
  color: white;
}

.ItemName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.business {
  letter-spacing: 5px;
  font-size: 20px;
}

.BusinessIcon {
  width: 70px;
  opacity: 0.8;
}

.DashboardItem:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
