.Dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-color: #E5FBF9; */
  background-image: url("../../assets/smallbusiness.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.DashboardContents {
  display: flex;
  flex-wrap: wrap;
}

.DashboardContainer {
  display: flex;
  width: 1080px;
  /* background-color: #E5FBF9; */
}
